<div class="left-navigation">
     <ul class="list">
        <li><a (click)="goToMain()"><span class="glyphicon glyphicon-home"></span> Home</a></li>
        <li><a (click)="goToAlbums()"><span class="glyphicon glyphicon-indent-left"></span>Albums</a></li>
        <li><a (click)="goToSongs()"><span class="glyphicon glyphicon-play"></span>Songs</a></li>
        <li><a (click)="goToMain()"><span class="glyphicon glyphicon-eye-open"></span> Popular Playlist</a></li>
        <li><a (click)="goToMain()"><span class="glyphicon glyphicon-cd"></span> Dj</a></li>
     </ul>
 </div>