<div class="left-navigation">
     <ul class="list">
        <li><a href="#"><span class="glyphicon glyphicon-home"></span> Home</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-ok"></span> Favorite</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-eye-open"></span> Popular Playlist</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-indent-left"></span> Albums</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-play"></span> Your Playlist</a></li>
     </ul>
 </div>