.hide{
    display: none;
}
button{
    background: transparent;
    border:none !important;
    color: #ffffff;
}
.btn-default:hover, .btn-default:focus, .open>.dropdown-toggle.btn-default {
    color: #ffffff;
    background-color: #000000;
    border-color: #000000; 
}

.col {
    margin-left: 26px;
}